.project-container{
    display: grid;
    grid-auto-flow: column;
    gap:10px;
}
.project-headers{
   display: inline-flex;
   flex-direction: column;
}
.about{
    width: auto;
}
@media screen and (max-width:960px) {
    .project-container{
        grid-auto-flow: row;
        gap: 10px;
    }
}
.projects{
    width: auto;
}