$background: #1985A1;
$Button1: #DCDCDD;
$Button2: #C5C3C6;
.getQuoteBtn{
    color: black;
    background: $Button1;
    border: 1px solid #969696;
    border-radius: 0px;
    transition: all .3s ease-in-out;
    margin-top: 2rem;
    margin-bottom: auto;
    width: 10rem;
    font-size: 25px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
span{
    font-weight: bold;
    color:white;
}
.getQuoteBtn:hover{
    background: $Button2;
    transition: all .3s ease-in-out;
}
.kanye-comp{ 
    display: grid;
    width: 50vw;
    place-items: center;
    background: $background;
    border: 1px solid #969696;
}
.quotes{
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
    padding-top: 10px;
    color: white;
}
@media screen and (max-width:960px) {
    .quotes{
        margin-bottom: 2rem;
        margin-top: 2rem;
        text-align: center;
    }
    .kanye-comp{
        width: auto;
    }

}