*{
    font-family: 'Montserrat', sans-serif;
}
body{
    border: 2rem solid white;
    border-top: 10px;   
}
Nav{
    position: absolute;
    top: 2px;
}
@media  screen and (max-width: 960px) {
    body{
        border:none;
    }
}
.App{
    margin-top: 100px;
}