*{
    font-family: 'Montserrat', sans-serif;
}
Nav{
    position: absolute;
    top: 0px;
}
.page-container{
    padding: 0 2rem;
}
@media  screen and (max-width: 960px) {
    body{
        border:none;
    }
}
.App{
    margin-top: 100px;
}