$font-color: white;
$background: #C4CAD0;
$Button1: #a2a7ac;
$Button2: #d7dee5;

.intro-container{
    display: flex;
    flex-direction: column;
    font-size: 6rem;
}
.welcomeMessege{
    margin-top: -100px;
    background: conic-gradient(from 180deg at 90% 50%, #000000, #171717, #2e2e2e, #464646, #5d5d5d, #747474, #8b8b8b, #a2a2a2, #b9b9b9, #d1d1d1, #e8e8e8, #ffffff);    color:$font-color;
}
.mainIntro{
    margin-top: 20px;
}
@media screen and (max-width:960px) {

    .intro-container{
        font-size: 2rem;
    }
    .welcomeMessege{
        margin-top: 10px;
        padding-left: 10px;
    }
    
}