
.div{
    display: flex;
    background-color: blue;
    border-bottom: 1px solid black;
}
ul{
    margin-left: 5%;
    padding-left: 1px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
    position: fixed;
}
.nav-option{
    list-style: none;
    cursor: pointer;
    font-size: 2rem;
}
.nav-option:hover{
    text-decoration: underline;
}
@media screen and (max-width:960px) {
    .nav-option{
        font-size: 1.5rem;
    }
}